<% wrap_layout :layout do %>
  <header class="logo">
    <% link_to '/' do %><%= image_tag "labs-logo.svg" %><% end %>
  </header>
  <main role="main" class="blog-post">
  <article class="post<% if current_article.data.type %> post--<%= current_article.data.type %><% end %>" vocab="http://schema.org/" typeof="BlogPosting">
    <% if current_article.data.type == "link" %>

      <div property="articleBody" class="post-content">
        <h1 property="name"><a href="<%= current_article.data.link_title %>"><%= current_article.data.link_title %></a></h1>
        <%= yield %>
      </div>

    <% elsif current_article.data.type == "quote" %>

      <div property="articleBody" class="post-content">
        <blockquote class="post-quote">
          <%= current_article.data.quote %>
        </blockquote>

        <% if current_article.data.cite %>
          <cite class="post-cite">
            <%= current_article.data.cite %>
          </cite>
        <% end %>
        <%= yield %>
      </div>

    <% elsif current_article.data.type == "image" %>

      <div property="articleBody" class="post-content">
        <figure class="post-image">

          <img src="<%= current_article.data.image %>" alt="">

          <% if current_article.data.caption %>
            <figcaption>
            <%= current_article.data.caption %>
            </figcaption>
          <% end %>
        </figure>
        <%= yield %>
      </div>


    <% elsif current_article.data.type == "video" %>

      <div property="articleBody" class="post-content">
        <figure class="post-video">
          <%= current_article.data.video_embed_code %>

          <% if current_article.data.caption %>
            <figcaption>
            <%= current_article.data.caption %>
            </figcaption>
          <% end %>
        </figure>
        <%= yield %>
      </div>

    <% else %>

      <header class="post-header">
        <% if current_article.data.image %>
          <figure class="post-image">
            <img src="<%= current_article.data.image %>" alt="">
          </figure>
        <% end %>

        <h1 property="name">
          <%= current_article.data.title %>
        </h1>

        <time class="post-date" property="dateCreated" pubdate><%= current_article.date.strftime('%Y-%m-%d') %></time>

        <hr class="hr-gradient hr-gradient--medium">
      </header>

      <div property="articleBody" class="post-content">
        <%= yield %>
      </div>

    <% end %>

    <footer class="post-footer">
      <div class="post-author__name">
        <% data.colleagues.each do |author| %>
          <% if current_article.data.author.is_a?(Array) %>
            <% current_article.data.author.each do |multiple_authors| %>
              <% if multiple_authors == author['firstname'].downcase %>
                <div class="post-author" property="author" vocab="http://schema.org/" typeof="Person">
                  <div class="post-author__image">
                    <img property="image" src="<%= gravatar_for( author['email'] ) %>" alt="Bild på <%= author['firstname'] %> <%= author['lastname'] %>">
                  </div>
                  <div class="post-author__name">
                    <a property="email" href="mailto:<%= author['email'] %>">
                      <span property="givenName"><%= author['firstname'] %></span>
                      <span property="familyName"><%= author['lastname'] %></span>
                    </a>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% elsif author['firstname'].downcase == current_article.data.author %>
            <div class="post-author" property="author" vocab="http://schema.org/" typeof="Person">
              <div class="post-author__image">
                <img property="image" src="<%= gravatar_for( author['email'] ) %>" alt="Bild på <%= author['firstname'] %> <%= author['lastname'] %>">
              </div>
              <div class="post-author__name">
                <a property="email" href="mailto:<%= author['email'] %>">
                  <span property="givenName"><%= author['firstname'] %></span>
                  <span property="familyName"><%= author['lastname'] %></span>
                </a>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="post-meta">
          <time class="post-date" property="dateCreated" pubdate><%= current_article.date.strftime('%Y-%m-%d') %></time>
        </div>

        <% if current_article.data.source_url %>
          <div class="post-via">
            via
            <a property="isBasedOnUrl" href="<%= current_article.data.source_url %>">
              <% if current_article.data.source_title %>
                <%= current_article.data.source_title %>
              <% else %>
                <%= current_article.data.source_title %>
              <% end %>
            </a>
          </div>
        <% end %>
    </footer>
    <!-- / .post-footer -->

    <% if current_article.data.disable_comments == false %>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'kollegornalabs'; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
      </script>
    <% end %>
  </article>
  <%= image_tag 'icon-cc-by.svg', class: 'center' %>
  </section>
<% end %>
