<!DOCTYPE html>
<html class="no-js" lang="<%= current_page.data.lang || "en" %>">
    <head>
        <meta charset="utf-8">
        <title><%= "#{current_page.data.title} | " if current_page.data.title %> Kollegorna Labs</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <meta name="mobile-web-app-capable" content="yes">

        <% if current_page.data.meta_title %>
        <meta name="title" content="<%= current_page.data.meta_title %>">
        <% elsif current_page.data.title %>
        <meta name="title" content="<%= current_page.data.title %>">
        <% else %>
        <meta name="title" content="Kollegorna Labs">
        <% end %>
        <meta name="decription" content="<%= current_page.data.meta_description || "We build stuff with Rails, Ember.js, Node.js and Go. This is our messy lab…" %>">

        <link rel="icon" href="<%= image_path 'app-icon.png' %>">
        <link rel="apple-touch-icon" href="<%= image_path 'app-icon.png' %>">
        <link rel="manifest" href="/manifest.json">

        <%= partial "global-meta-sm" %>

        <link href="/feed.xml" rel="alternate" type="application/rss+xml" title="RSS">
        <link href="https://cloud.typography.com/6077114/7879172/css/fonts.css" rel=stylesheet />
        <%= stylesheet_link_tag "application" %>

        <script>

            'use strict';

            // replaces html.no-js with html.js
            ;(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);

        </script>
    </head>
    <body class="<%= current_page.data.body_classes || "site" %>">

        <%= partial "global-tracking" %>
