---
title: Kollegorna Labs
description: "We build stuff with Rails, Ember.js, Node.js and Go. This is our messy lab…"
meta_description: "We build stuff with Rails, Ember.js, Node.js and Go. This is our messy lab…"
body_classes: home
---
<header class="index__intro">
  <h1>
    <a href="/" class="index__logo">
      <span><%= image_tag "labs-logo.svg" %></span>
    </a>
  </h1>

  <p class="t-lead">Science and progress will lead to happiness.</p>

  <p class="small">We use our brains and hearts to build stuff with Rails, Ember.js, Node.js, Go and more…</p>

  <a href="#about" class="button index__about-toggle">About us</a>
</header>

<section class="index__blog" id="blog">
  <div class="index__list">
    <h2>
      <span class="gradient-border gradient-border--thin">Blog</span>
    </h2>

    <ul>
      <% blog.articles.each do |article| %>
        <li>
          <h3><a href="<%= article.url %>"><%= article.title %></a></h3>
          <p>
          <time pubdate><%= article.date.strftime('%Y-%m-%d') %></time>
          –
          <span property="author" vocab="http://schema.org/" typeof="Person">
            <%# @TODO need to figure this out with datafile %>
            <span property="givenName">Authorname</span>
          </span>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</section>

<section class="index__projects">
  <div class="index__list">
    <h2>
      <span class="gradient-border gradient-border--thin">Projects + Play</span>
    </h2>
    <%# @TODO should be moved to a data file %>
    <ul>
      <li>
        <a href="https://github.com/kollegorna/activeadmin-logins">Activeadmin::Logins</a>
        <p>Tracks user logins and displays results in Active Admin (<a href="/blog/2015/05/activeadmin-logins/">post</a>).</p>
      </li>
      <li>
        <a href="https://github.com/kollegorna/kong-tictail-theme">Kong Tictail Theme</a>
        <p>Makes it easier building Tictail themes (<a href="/blog/2015/03/kong-tictail-theme/">post</a>).</p>
      </li>
      <li>
        <a href="https://github.com/kollegorna/kong-integrations">Kong Integrations</a>
        <p>A web app that provides Tictail products as csv for Prisjakt and Pricerunner (<a href="/blog/2015/03/tictail-prisjakt-pricerunner/">post</a>).</p>
      </li>
      <li>
        <a href="https://github.com/kollegorna/weatherbot">Weatherbot</a>
        <p>Node.js app that fetches weather data from our team members’ work locations and posts it to our Slack channel (<a href="/blog/2015/02/weatherbot/">post</a>).</p>
      </li>
      <li>
        <a href="https://github.com/kollegorna/rubycas-server-activerecord">Rubycas::Server::Activerecord</a>
        <p>ActiveRecord adapter for RubyCAS Server Core (RubyCAS2.0).</p>
      </li>
      <li>
        <a href="https://github.com/kollegorna/jekyll-boilerplate">Jekyll Boilerplate</a>
        <p>This is the boilerplate for our Jekyll projects.</p>
      </li>
      <li>
        <a href="https://github.com/kollegorna/oompaloompa">Oompa Loompa</a>
        <p>Ooompa Loopma is a simple web service that listens to POST hooks from Bitbucket or GitHub</p>
      </li>
      <li>
        <a href="https://github.com/kollegorna/griddo">Griddo</a>
        <p>A collection of Sass mixins that helps you build grids.</p>
      </li>
      <li>
        <a href="https://github.com/kollegorna/hubspot_informer">HubSpot Informer</a>
        <p>A simple Ruby API wrapper for the HubSpot form submission API</p>
      </li>
      <li>
        <a href="https://drupal.org/project/livechat">LiveChat module for Drupal</a>
        <p>Drupal 7 module that integrates with the <a href="http://www.livechat.com">LiveChat</a> service.</p>
      </li>
      <li>
        <a href="https://github.com/kollegorna/fieldvariables">Field Variables</a>
        <p>Sets field values as variables in the template files of your Drupal theme.</p>
      </li>
      <li>
        <a href="https://github.com/joakim/git-easy">Git Easy</a>
        <p>Smart git commands to make life a little bit easier.</p>
      </li>
      <li>
        <a href="https://github.com/henrrrik/lita-imgflip">lita-imgflip</a>,
        <a href="https://github.com/henrrrik/lita-pugbomb">lita-pugbomb</a>,
        <a href="https://github.com/henrrrik/lita-holmstrom">lita-holmstrom</a>,
        <a href="https://github.com/henrrrik/lita-nerd">lita-nerd</a>,
        <a href="https://github.com/henrrrik/lita-likeaboss">lita-likeaboss</a>
        <p>Various Lita handlers.</p>
      </li>
      <li>
        <a href="https://github.com/kollegorna/apsis-ruby">APSIS API wrapper for Ruby</a>
        <p>A simple API wrapper for the APSIS mail marketing service. Currently only supports adding subscribers to a mailing list.</p>
      </li>
      <li>
        <a href="https://github.com/kollegorna/campfire_alerts">Campfire Alerts for Drupal</a>
        <p>A Drupal module and Drush command that alerts a Campfire room when something is amiss configuration-wise on a site.</p>
      </li>
      <li>
        <a href="https://drupal.org/project/feeds_ffffound">Feeds: FFFFOUND! parser</a>
        <p>A Feeds parser for <a href="http://ffffound.com">FFFFOUND!</a> for Drupal 7.</p>
      </li>
      <li>
        <a href="https://github.com/persand/blaskan">Blaskan</a>
        <p>A responsive and accessible WordPress theme.</p>
      </li>

    </ul>
  </div>
</section>

<section class="index__about" id="about">
  <h2>
    About<br>
    Kollegorna
    <small>(“The Colleagues”)</small>
  </h2>

  <hr class="hr-gradient hr-gradient--medium">

  <p class="t-lead">We're a distributed digital agency spread from Santo Domingo to Seoul with our HQ in Stockholm.<br>Welcome to our laboratory. Put on your lab coat!</p>

  <p>
  <a class="button" href="https://www.kollegorna.se">Kollegorna.se</a>
  <a class="button" href="https://github.com/kollegorna">GitHub</a>
  <a class="button" href="https://twitter.com/kollegorna">Twitter</a>
  </p>

  <a href="#blog" class="index__about-toggle"><%= image_tag "icon-close.svg" %><span class="visuallyhidden">Back to blog posts list</span></a>
</section>
